[include mainsail.cfg]

# This file contains common pin mappings for the Fysetc Cheetah v2.0
# board. To use this config, the firmware should be compiled for the
# STM32F446 with "No bootloader" and Communication interface USB

# After running "make", run the following command to flash the board:
# dfu-util -R -a 0 -s 0x08000000:leave -D out/klipper.bin
# or
# make flash FLASH_DEVICE=0483:df11 

## Voron Design VORON 0.2 FYSETC Cheetah 3.0 config

## *** THINGS TO CHANGE/CHECK: ***
## MCU path                                                                     [mcu] section
## Z and Extruder motor currents                                                [tmc2209 stepper_*] sections. Uncomment the stepper motor you have
## Full steps per rotation for Extruder                                         [extruder] section
## Thermistor types                                                             [extruder] and [heater_bed] sections - See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types
## Extruder motor currents                                                      [extruder] section
## PID tune                                                                     [extruder] and [heater_bed] sections
## Fine tune E steps                                                            [extruder] section

## For more info                                                                check https://docs.vorondesign.com/build/startup/#v0
# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]

[exclude_object]

[include KAMP_Settings.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_250015001150335331383920-if00
# max_accel_to_decel: 20000
# serial: /dev/ttyAMA0   # for UART connection
# baud: 250000
# restart_method: command

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

# [temperature_sensor btt_pi]
# sensor_type: temperature_host
# min_temp: 10
# max_temp: 100

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 20000
max_z_velocity: 15
max_z_accel: 45
square_corner_velocity: 8.0

# [mcu adxl]
# serial: /dev/serial/by-id/usb-Klipper_rp2040_E662549553389232-if00

# [adxl345]
# cs_pin: adxl:gpio9
# spi_software_sclk_pin: adxl:gpio10
# spi_software_mosi_pin: adxl:gpio11
# spi_software_miso_pin: adxl:gpio12

# [resonance_tester]
# accel_chip: adxl345
# probe_points:
#     60, 60, 50

[input_shaper]
shaper_freq_x: 126.4
shaper_type_x: mzv
shaper_freq_y: 82.8
shaper_type_y: mzv

#####################################################################
#      X/Y Stepper Settings
#####################################################################
[stepper_x]
step_pin: PC0
## Refer to https://docs.vorondesign.com/build/startup/#v0
dir_pin: PC1                                                       # Check motor direction in link above. If inverted, remove ! before PC1
enable_pin: !PC3
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200                                        # Set to 400 for 0.9�?degree stepper motor, 200 is for 1.8�?stepper motors
#endstop_pin: ^PA2
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 120.0
position_max: 120.0
homing_speed: 40                                                    # for sensorless homing it is recommended not to go above 40mm/s   
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PB3
#tx_pin: PA2
uart_address: 0
interpolate: False
run_current: 0.6
sense_resistor: 0.220
stealthchop_threshold: 0                                            # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle
diag_pin: ^PA2                                                      # YOU NEED TO JUMP THIS DIAG PIN ON YOUR BOARD FOR SENSORLESS HOMING TO WORK 
driver_SGTHRS: 100                                                  # this is set to 255 which is the MAX sensitivity for sensorless homing, you will need to tune this later

#[autotune_tmc stepper_x]
#motor: fysetc-35hsh7402-24b-60a
#tuning_goal: performance
#sg4_thrs: 80 #45 #45

[stepper_y]
step_pin: PC14
## Refer to https://docs.vorondesign.com/build/startup/#v0
dir_pin: PC13                                                      # Check motor direction in link above. If inverted, remove ! before PC13
enable_pin: !PC15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200                                        # Set to 400 for 0.9 degree stepper motor, 200 is for 1.8 degree stepper motors
#endstop_pin: ^PA3
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 119.0
position_max: 119.0
homing_speed: 40                                                    # for sensorless homing it is recommended not to go above 40mm/s   
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PB3
#tx_pin: PA2
uart_address: 1
interpolate: False
run_current: 0.6
sense_resistor: 0.220
stealthchop_threshold: 0                                            # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle
diag_pin: ^PA3                                                      # YOU NEED TO JUMP THIS DIAG PIN ON YOUR BOARD FOR SENSORLESS HOMING TO WORK 
driver_SGTHRS: 100                                                  # this is set to 255 which is the MAX sensitivity for sensorless homing, you will need to tune this later

# [autotune_tmc stepper_y]
# motor: fysetc-35hsh7402-24b-60a
# tuning_goal: performance
# sg4_thrs: 58 #45 #45

#####################################################################
#   Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: PB4
dir_pin: !PB5	                                                    # Remove the ! before PB8 if motor direction is inverted.
enable_pin: !PC2
rotation_distance: 8                                                # For T8x8 lead screw
#rotation_distance: 2                                               # For T8x2 lead screw
microsteps: 32
endstop_pin: ^PC4
position_endstop: 119.6
position_max: 119.6
position_min: 0
homing_speed: 20
second_homing_speed: 3.0
homing_retract_dist: 3.0

[tmc2209 stepper_z]
uart_pin: PB3
#tx_pin: PA2
uart_address: 2
interpolate: False
# For FYSETC 42HSC1404B-200N8
run_current: 0.3
sense_resistor: 0.220
stealthchop_threshold: 0                                             # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle

# [autotune_tmc stepper_z]
# motor: fysetc-42hsc1404b-200n8
#####################################################################
#   Extruder
#####################################################################

[extruder]
step_pin: PB2
dir_pin: !PA15	                # Add ! if moving opposite direction
enable_pin: !PD2
full_steps_per_rotation: 200    # Set to 200 for 1.8 degree motor, set to 400 for 0.9 degree stepper motor
rotation_distance: 22.40        # See calibrating rotation_distance on extruders doc
gear_ratio: 50:10               # For Mini Afterburner
microsteps: 32
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC7
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for NTC 100k 3950 thermistors
sensor_type: Generic 3950
sensor_pin: PC5
#control: pid            # Do PID calibration
#pid_Kp: 28.182
#pid_Ki: 1.978
#pid_Kd: 100.397
min_temp: 0
max_temp: 280
min_extrude_temp: 170
max_extrude_only_distance: 150
max_extrude_cross_section: 5.0
pressure_advance: 0.0   # See tuning pressure advance doc
pressure_advance_smooth_time: 0.040

[tmc2209 extruder]
uart_pin: PB3
#tx_pin: PA2
uart_address: 3
interpolate: False
run_current: 0.4
sense_resistor: 0.220
stealthchop_threshold: 0                                            # Set to 0 for spreadcycle, avoid using stealthchop on extruder

[firmware_retraction]
# Valores iniciais recomendados para um Extrusor de Engrenagem (como o Mini Afterburner)
retract_length: 0.8  
retract_speed: 40 
unretract_extra_length: 0  
unretract_speed: 40

# [autotune_tmc extruder]
# motor: fysetc-g36hsy4405-6d-80a
#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PC8
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: Generic 3950
sensor_pin: PB0
smooth_time: 3.0
#max_power: 0.6                                                      # Only needed for 100w pads
min_temp: 0
max_temp: 120
#control: pid                                                         # Do PID calibration after initial checks
#pid_kp: 68.453
#pid_ki: 2.749
#pid_kd: 426.122

#####################################################################
# Fan Control
#####################################################################

[heater_fan hotend_fan]
# FAN1 Connector
pin: PA13
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
#fan_speed: 1.0                                                      # You can't PWM the delta fan unless using blue wire

[fan]
# Print Cooling Fan: FAN0 Connector
pin: PA14
max_power: 1.0
kick_start_time: 0.5                                                 # Depending on your fan, you may need to increase this value if your fan will not start
off_below: 0.13
cycle_time: 0.010

# [controller_fan MCU_fan]
# pin: PA8
# max_power: 1.0
# kick_start_time: 0.5
# heater: extruder
# #fan_speed: 1.0 

[temperature_fan btt_pi]
pin: PA8
max_power: 1
shutdown_speed: 0.0
cycle_time: 0.01 #0.0005     #2 kHz PWM signal
hardware_pwm: False
kick_start_time: 0
sensor_type: temperature_host
#sensor_pin: P0.23
min_temp: 10
max_temp: 80
target_temp: 45
max_speed: 1
min_speed: 0.0
control: pid
pid_Kp: 2.0     ;40
pid_Ki: 5.0     ;0.2
pid_Kd: 0.5     ;0.1
pid_deriv_time: 2.0
gcode_id: pi

#####################################################################
# Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 36000

# [safe_z_home]
# home_xy_position: 120,120                                           # these coordinates must NOT be greater than the values specified in "position_max:" for the X and Y steppers
# speed: 50.0
# z_hop: 5

[homing_override]
gcode:
    _HOME_X
    _HOME_Y
    G28 Z
    
# Tool to help adjust bed leveling screws. One may define a
# [bed_screws] config section to enable a BED_SCREWS_ADJUST g-code
# command.
[bed_screws]
screw1: 60,5
screw1_name: front screw
screw2: 5,115
screw2_name: back left
screw3: 115,115
screw3_name: back right

#####################################################################
# Neopixel
#####################################################################

[neopixel board_rgb]
pin: PC9
chain_count: 1
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.1
initial_BLUE: 0.0

#####################################################################
#   V0 Display
#####################################################################
[mcu display]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_210019001843304754393320-if00
restart_method: command

[display]
lcd_type: sh1106
i2c_mcu: display
i2c_bus: i2c1a
# Set the direction of the encoder wheel
#   Standard: Right (clockwise) scrolls down or increases values. Left (counter-clockwise scrolls up or decreases values.
encoder_pins: ^display:PA3, ^display:PA4
#   Reversed: Right (clockwise) scrolls up or decreases values. Left (counter-clockwise scrolls down or increases values.
#encoder_pins: ^display:PA4, ^display:PA3
click_pin: ^!display:PA1
kill_pin: ^!display:PA5
# #x_offset: 2
# #   Use X offset to shift the display towards the right. Value can be 0 to 3
vcomh: 31
# #   Set the Vcomh value on SSD1306/SH1106 displays. This value is
# #   associated with a "smearing" effect on some OLED displays. The
# #   value may range from 0 to 63. Default is 0.
# #   Adjust this value if you get some vertical stripes on your display. (31 seems to be a good value)

[neopixel displayStatus]
pin: display:PA0
chain_count: 1
color_order: GRB
initial_RED: 0.2
initial_GREEN: 0.05
initial_BLUE: 0

#####################################################################
# Macros
#####################################################################
[gcode_macro PRINT_START]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}

    G90
    G92 E0
    
    # 1. INICIA AQUECIMENTO EM PARALELO COM O HOMING
    M140 S{BED_TEMP}
    M104 S{EXTRUDER_TEMP}
    
    # 2. HOMING
    _CG28
    G28 Z
    G90
    
    # 3. ESPERA O AQUECIMENTO FINAL (COM SEGURANÇA)
    M190 S{BED_TEMP}
    M109 S{EXTRUDER_TEMP}
    
    # 4. PREPARAÇÃO FINAL E PURGA (SÓ OCORRE DEPOIS QUE O M109 ACABA!)
    G1 Z5 F3000   ; Elevação
    VORON_PURGE   ; Macro que agora usa G10/G11 se o Passo 1 foi feito.

    G92 E0

[gcode_macro PRINT_END]
gcode:
    TURN_OFF_HEATERS
    G91
    G1 Z10 F1500
    G1 E-1 F3000
    G90
    G1 X100 Y100 F3000
    M106 S0
    SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0
    BED_MESH_CLEAR

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    # Parameters
    {% set z = params.Z|default(10)|int %}                                                   ; z hop amount

    {% if printer['pause_resume'].is_paused|int == 0 %}
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE={z}                              ; set z hop variable for reference in resume macro
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=etemp VALUE={printer['extruder'].target}    ; set hotend temp variable for reference in resume macro

        SAVE_GCODE_STATE NAME=PAUSE                                                          ; save current print position for resume
        BASE_PAUSE                                                                           ; pause print
        {% if (printer.gcode_move.position.z + z) < printer.toolhead.axis_maximum.z %}       ; check that zhop doesn't exceed z max
            G91                                                                              ; relative positioning
            G1 Z{z} F900                                                                     ; raise Z up by z hop amount
        {% else %}
            { action_respond_info("Pause zhop exceeds maximum Z height.") }                  ; if z max is exceeded, show message and set zhop value for resume to 0
            SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE=0
        {% endif %}
        G90                                                                                  ; absolute positioning
        G1 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_minimum.y+5} F6000   ; park toolhead at front center
        SAVE_GCODE_STATE NAME=PAUSEPARK                                                      ; save parked position in case toolhead is moved during the pause (otherwise the return zhop can error)
        SET_IDLE_TIMEOUT TIMEOUT=43200                                                       ; set timeout to 12 hours
    {% endif %}

[gcode_macro RESUME]
rename_existing: BASE_RESUME
variable_zhop: 0
variable_etemp: 0
gcode:
    # Parameters
    {% set e = params.E|default(2.5)|int %}                                          ; hotend prime amount (in mm)

    {% if printer['pause_resume'].is_paused|int == 1 %}
        #INITIAL_RGB                                                                    ; reset LCD color
        SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}  ; set timeout back to configured value
        RESTORE_GCODE_STATE NAME=PAUSEPARK MOVE=1 MOVE_SPEED=100                     ; go back to parked position in case toolhead was moved during pause (otherwise the return zhop can error)
        G91                                                                          ; relative positioning
        M83                                                                          ; relative extruder positioning
        G1 E{e} F900                                                                 ; prime nozzle by E, lower Z back down
        RESTORE_GCODE_STATE NAME=PAUSE MOVE=1 MOVE_SPEED=60                          ; restore position
        BASE_RESUME                                                                  ; resume print
    {% endif %}
    

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout} ; set timeout back to configured value
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    PRINT_END
    BASE_CANCEL_PRINT
    M106 S0

[gcode_macro _HOME_X]
gcode:
    # Always use consistent run_current on A/B steppers during sensorless homing
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set HOME_CURRENT_X = RUN_CURRENT_X / 2 %}
    {% set HOME_CURRENT_Y = RUN_CURRENT_Y / 2 %}

    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT_Y}

    set_tmc_field stepper=stepper_x field=tcoolthrs value=1048575
    set_tmc_field stepper=stepper_y field=tcoolthrs value=1048575

    # Home
    G28 X
    # Move away
    G91
    G1 X-10 F1200
    
    # Wait just a second… (give StallGuard registers time to clear)
    G4 P100
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

[gcode_macro _HOME_Y]
gcode:
    # Set current for sensorless homing
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set HOME_CURRENT_X = RUN_CURRENT_X / 2 %}
    {% set HOME_CURRENT_Y = RUN_CURRENT_Y / 2 %}

    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT_Y}

    set_tmc_field stepper=stepper_x field=tcoolthrs value=1048575
    set_tmc_field stepper=stepper_y field=tcoolthrs value=1048575

    # Home
    G28 Y
    # Move away
    G91
    G1 Y-10 F1200

    # Wait just a second… (give StallGuard registers time to clear)
    G4 P1000
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}
    
[gcode_macro M600]
gcode:
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    M300
    G91
    G1 E-50 F1000
    M300
    M300
    RESTORE_GCODE_STATE NAME=M600_state


[gcode_macro _CG28]
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}

	
[gcode_macro LOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E30 F300                    ; load
   G1 E15 F150                    ; prime nozzle with filament
   M82                            ; set extruder to absolute
    
[gcode_macro UNLOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E10 F300                    ; extrude a little to soften tip
   G1 E-40 F1800                  ; retract some, but not too much or it will jam
   M82                            ; set extruder to absolute

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.596
#*# pid_ki = 1.249
#*# pid_kd = 141.624
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 65.665
#*# pid_ki = 3.367
#*# pid_kd = 320.117
